<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <meta name=viewport content="width=device-width,initial-scale=1,user-scalable=no">
</head>
<body>
<div class="layout">
    <div>
        <h1 style="text-align: center"><%= title %></h1>
        <hr />
        <div class="video__wrapper">
            <video class="video" autoplay="autoplay" controls="controls">
                <source src="/video/demonstaration.mp4" type='video/mp4'>
            </video>
        </div>
        <hr />
        <div class="platforms">
            <a href="http://app.cwa.dsstest.ru/" class="platform">
                <div class="platform__title">Web</div>
            </a>
            <a href="/files/crossplatform-web-app.apk" class="platform">
                <div>
                    <div class="platform__title">Android</div>
                    <div class="platform__description">.apk</div>
                </div>

            </a>
            <div class="platform">
                <div>
                    <div class="platform__title">Windows</div>
                    <div class="platform__description">
                        <a href="/files/Cross%20Platform%20Web%20App-win32-x64.zip">x64</a> | <a href="/files/Cross%20Platform%20Web%20App-win32-ia32.zip">x86</a>
                    </div>
                </div>
            </div>
            <div class="platform">
                <div>
                    <div class="platform__title">Linux</div>
                    <div class="platform__description">
                        <a href="/files/Cross%20Platform%20Web%20App-linux-x64.zip">x64</a> | <a href="/files/Cross%20Platform%20Web%20App-linux-ia32.zip">x86</a>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <h3>Repositories</h3>
        <div><strong>Frontend: </strong> <a href="https://bitbucket.org/d-shorkin/crossplatformwebapp">https://bitbucket.org/d-shorkin/crossplatformwebapp</a></div>
        <div><strong>Backend: </strong> <a href="https://bitbucket.org/d-shorkin/crossplatformwebappbackend">https://bitbucket.org/d-shorkin/crossplatformwebappbackend</a></div>
    </div>
</div>
</body>
</html>
