body {
    padding: 0;
    margin: 0;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.layout {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 100vh;
}

.platforms {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.platform {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 2px solid #00B7FF;
    text-decoration: none;
    color: black;
    border-radius: 5px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    -webkit-box-shadow: 0 0 0 #004c6c;
    box-shadow: 0 0 0 #004c6c;
    max-width: 300px;
    min-width: 150px;
    height: 100px;
    margin: .25rem;
}

.platform:hover {
    -webkit-box-shadow: 0 0 10px #00B7FF;
    box-shadow: 0 0 10px #00B7FF;
}

.platform__title {
    text-align: center;
    font-size: 1.2rem;
    margin: 1rem;
}

.platform__description {
    text-align: center;
    margin: .5rem 1rem;
}

.video {
    max-width: 100%;
}

.video__wrapper {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
}

hr {
    border-top: 1px dashed #8c8b8b;
}